@model PokeRestaurant.Web.ViewModels.Add2CartViewModel
@{
    ViewData["Title"] = "Poke Restaurant - Add to Cart";
    Layout = "_OrderLayout";
}
<script type="text/javascript">
    
    function onSubmit() {
       
        var ckbToppings = document.querySelectorAll("input[type='checkbox'][id^='ToppingItems_']");
        var count = 0;
        var message = "";
        for (var i = 0; i < ckbToppings.length; i++) {
            if (ckbToppings[i].checked == true) {
                count++;
            }
        }
     
        if (count < 3) { 
            message = "Please pick at least 3 toppings!\n";          
        }
      
        var ckbProteins = document.querySelectorAll("input[type='checkbox'][id^='ProteinItems']")
        count = 0;

        for (var i = 0; i < ckbProteins.length; i++) { 
            if (ckbProteins[i].checked == true) {
                count++;
            }
        }
        
        if (count == 0) { 
            message += "Please pick at least 1 protein!\n";
        }

        if(message!="")
        {
            alert(message);
            return false;
        }

        return true;
    }

    function checkToppingsCount() {
        var ckbToppings = document.querySelectorAll("input[type='checkbox'][id^='ToppingItems_']");
            count = 0;
        for (var i = 0; i < ckbToppings.length; i++) {
            if (ckbToppings[i].checked == true) {
                count++;                
            }           
        }
      
        if (count > 3) {
            extra = count - 3;
            extraFee = extra * 0.50;
          
            var priceSpan = document.getElementById("totalPrice");
            var basePrice = document.getElementById("SelectedBaseItemPrice").value;
           

            var currentPrice = parseFloat(basePrice);
            currentPrice = currentPrice + extraFee;
            priceSpan.textContent = currentPrice;
        }
        else {
            var priceSpan = document.getElementById("totalPrice");

            var basePrice = document.getElementById("SelectedBaseItemPrice").value;
            priceSpan.textContent = basePrice;
        }
    }

</script>



<div class="section-title">
    <h2>Menu</h2>
    <p>Check Our Tasty Menu</p>

</div>
<div class="row">
    <h4>Please select one of the base for your @Model.SelectedBaseItemName</h4>
    <h5>Price: <span id="totalPrice">@Model.SelectedBaseItemPrice</span></h5>
    <form method="POST" id="add2cartForm" name="add2cartForm" asp-controller="Home" asp-action="Add2Cart" role="form">
        <div asp-validation-summary="All" class="text-danger" name="errorsDiv"></div>
        @Html.AntiForgeryToken()
        <input asp-for="@Model.SelectedBaseItemID" type="hidden" />
        <input asp-for="@Model.SelectedBaseItemPrice" type="hidden"/>
        <input asp-for="@Model.SelectedBaseItemName" type="hidden" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control" for="BaseSelection">Select Protein(s) (Minimum 1)</label>
                    <div style="margin:1em;">
                        @for(int i=0;i<Model.ProteinItems.Count;i++)
                        {
                            <input type="checkbox" asp-for="@Model.ProteinItems[i].IsChecked" class="form-check-input" />
                            <input type="hidden" asp-for="@Model.ProteinItems[i].ID" />
                            <input type="hidden" asp-for="@Model.ProteinItems[i].Name"/>
                            <label class="form-check-label" asp-for="@Model.ProteinItems[i].ID">
                                @Model.ProteinItems[i].Name
                            </label>
                            <br />
                        }
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control" for="BaseSelection">Select 3 Toppings (after 3rd topping it is extra 50 cents for each)</label>
                    <div style="margin:1em;">
                        @for (int i = 0; i < Model.ToppingItems.Count; i++)
                        {
                            <input type="checkbox" asp-for="@Model.ToppingItems[i].IsChecked" class="form-check-input" onclick="checkToppingsCount()">
                            <input type="hidden" asp-for="@Model.ToppingItems[i].ID"/>
                            <input type="hidden" asp-for="@Model.ToppingItems[i].Name"/>
                            <label class="form-check-label" asp-for="@Model.ToppingItems[i].ID">
                                @Model.ToppingItems[i].Name
                            </label>
                               <br />

                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="form-group">
                <input type="submit" value="Next >" class="btn btn-primary" formnovalidate="formnovalidate" onclick="return onSubmit();">
                <div class="submitting"></div>
            </div>
        </div>
    </form>
</div>


